.mask {
    border: none;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    font-size: 0.8rem;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mask:focus {
    outline: none;
    border-bottom: 1px solid #3dccce;
    border-radius: 4px;
}